/* ________ COLOR VARS ________ */

:root {
  --primary-bg-color: #000000;
  --secondary-bg-color: rgb(59, 59, 59);
  --hover-bg-color: #080808;
  --primary-text-color: #FFFFFF;
  --secondary-text-color: rgb(110, 118, 125);
  --accent-text-color: rgb(29,161,242);
  --accent-color-pink: #FA1980;
}

/* ________ GLOBAL PROPERTIES ________ */
body {
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
  font-family: sans-serif;
}

ul {
  padding: 0px;
  list-style-type: none;
}

li {
  padding: 5px;
  margin: 5px;
}

li a {
  text-decoration: none;
}

li a:hover, li a:active {
  color: var(--accent-text-color);
}


ul li {

    list-style: none;
}

.attachment-image {
    border-radius: 10px;
}

/* ________ Bookmarks Page ________ */

.wd-bookmarks-bar, .wd-tuit-block, .wd-tuit-block-link-section  {
    border: .5px solid var(--secondary-bg-color);
}

ul, li {
  margin: 0px !important;
  padding: 0px !important;
}

.wd-bookmarks-bar {
    display: flex;
    padding: 12px;
}
.wd-bookmarks-bar div {
    width: 100%;
}

.wd-bookmarks-bar h2{
    display: flex;
    margin: 0px;
}

.wd-icon-three-dots:hover {
  background-color: var(--secondary-bg-color);
}

.wd-icon-md {
  width: 20px;
  height: 10px;
}
.wd-icon-three-dots{
  padding: 15px 10px;
  border-radius: 50%;
}

.wd-tuit-block-profile-img {
  margin-right: 12px;
  border-radius: 50%;
}
.wd-tuit-block p {
  font-size: 15px;
  margin: 12px 0px;
}

.wd-tuit-block a {
  color: inherit;
}

.wd-tuit-block-action-list {
  display: flex;
  justify-content: space-around;
}

.wd-tuit-block-action a {
  display: inline-flex;
}


.wd-tweet-action-heart-active {
  color: var(--accent-color-pink) !important;
}

a {
color: #ffffff;
text-decoration: none;}

.wd-whats-happening {
    background: black;
    color: var(--secondary-text-color);
    border-bottom: 1px solid var(--secondary-text-color);
    padding-bottom: 10px;
}

.wd-whats-happening textarea {
    background: black;
    color: var(--secondary-text-color);
}

