/* ________ Bookmarks Page ________ */

.wd-bookmarks-bar, .wd-tuit-block, .wd-tuit-block-link-section  {
    border: .5px solid var(--secondary-bg-color);
}

ul, li {
  margin: 0px !important;
  padding: 0px !important;
}

.wd-bookmarks-bar {
    display: flex;
    padding: 12px;
}
.wd-bookmarks-bar div {
    width: 100%;
}

.wd-bookmarks-bar h2{
    display: flex;
    margin: 0px;
}

.wd-icon-three-dots:hover {
  background-color: var(--secondary-bg-color);
}

.wd-icon-md {
  width: 20px;
  height: 10px;
}
.wd-icon-three-dots{
  padding: 15px 10px;
  border-radius: 50%;
}

.wd-tuit-block {
  display: flex;
  margin-top: none;
  padding: 12px;
}

.wd-tuit-block-profile-img {
  margin-right: 12px;
  border-radius: 50%;
}
.wd-tuit-block p {
  font-size: 15px;
  margin: 12px 0px;
}

.wd-tuit-block a {
  color: inherit;
}

.wd-tuit-block-action-list {
  display: flex;
  justify-content: space-around;
}
.wd-tuit-block-action a {
  display: inline-flex;
}

.wd-tuit-block-action p {
  color: var(--secondary-text-color);
}

.wd-icon-heart,
.wd-icon-heart-fill,
.wd-icon-share,
.wd-icon-reply,
.wd-icon-retuit {
  padding-right: 12px;
}

.wd-icon-link {
  padding-right: 6px;
}

.wd-tuit-block-action-list {
  max-width: 486px;
}

.wd-tuit-block-link-section {
  border-radius: 15px;
  min-width: 504px;
  max-width: 504px;
}

.wd-tuit-block-link-section-image {
  width: 504px;
  height: 264px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  outline: 1px solid var(--secondary-bg-color);
  overflow-y: hidden;
}

.wd-tuit-block-link-section-text {
  padding: 16px;
}

.wd-tuit-block-link-section h3 {
  font-size: 15px;
  font-weight: normal;
}

.wd-tuit-block-link-section p, .wd-bookmarks-bar a {
  color: var(--secondary-text-color);
  text-decoration: none;
}

.wd-tuit-block-link {
  display: inline-flex;
}
.wd-tuit-block-link p {
  margin: 0px;
}

.wd-tuit-block-handle,  .wd-tuit-block-handle div{
  width: 100%;
  display: inline-flex;
}
.wd-tuit-block-handle p {
  color: var(--secondary-text-color);
  margin: 0px 12px;
}
.wd-tuit-block-handle a{
  font-weight: bold;
}

.wd-tweet-action-heart-active {
  color: var(--accent-color-pink) !important;
}
